<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projetogerenfacil">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Adicione outras permissões necessárias aqui -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/imagem"
        android:label="@string/GerenFácil"
        android:roundIcon="@mipmap/imagem"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoGerenFacil"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".NextActivity" />
        <activity android:name=".EscolhaCadastroActivity" />
        <activity android:name=".CadastroUsuarioActivity" />
        <activity android:name=".CadastroAdministradorActivity" />
        <activity android:name=".InterfaceNavegacaoActivity" />
        <activity android:name=".ListaClienteActivity" />
        <activity android:name=".ListaProdutoActivity" />
        <activity android:name=".CadastroClienteActivity" />
        <activity android:name=".CadastroProdutoActivity" />


    </application>
</manifest>
